/* src/App.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.App {
  text-align: center;
}

header {
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  font-size: 24px;
  text-align: center;
}

.header-container {
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.site-title {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
}

.site-description {
  margin: 10px 0 0;
  font-size: 18px;
  opacity: 0.8;
}

main {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.left-box {
  width: 35%;
  border-radius: 8px;
  max-height: 500px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-box img {
  width: 100%;
  height: auto;
  display: block;
}

.right-box {
  width: 35%;
  background-color: #fff;
  max-height: 500px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.right-box h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.right-box p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.right-box .wave {
  margin-left: 5px;
}

footer {
  background-color: #34495e;
  color: white;
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer p {
  margin: 10px 0 0;
}

footer div {
  margin-top: 13px;
}

footer a {
  color: white;
  margin: 0 10px;
  font-size: 24px;
  text-decoration: none;
}

/* Responsive styling */
@media (max-width: 768px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  .left-box {
    width: 80%;
    max-height: 700px;
    margin-bottom: 30px;
  }

  .right-box {
    width: 80%;
    margin-bottom: 30px;
    
  }
}


